body, html{
  height: 100%;
  margin: 0;
  background: #030020;
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

button{
  cursor: pointer;
}

h2{
  color: white;
}

#board3x3, #board5x5, #board7x7 {
  padding: 0px;
  margin: 0 auto;
  border: 2px solid #181818;
  border-collapse: collapse;
  cursor: pointer;
}

tr td {
  width: 60px;
  height: 60px;
}

tr:nth-child(n) td:nth-child(n + 1) {
  background: #272727;
}

tr:nth-child(2n) td:nth-child(2n + 1) {
  background: #9f9f9f;
}

tr:nth-child(2n + 1) td:nth-child(2n) {
  background: #9f9f9f;
}

#peca.black,#dama.black {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  background-color: black;
}

#dama{
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}

#peca.white,#dama.white {
  width: 100%;
  height: 100%;
  color: black;
  border-radius: 50%;
  background-color: white;
}

#board .black:hover {
  background-color: rgba(0, 128, 0, 0.5);
}
#board .white:hover {
  background-color: rgba(0, 128, 0, 0.5);
}

table tr td.vermelho {
  background-color: red !important;
}
table tr td.amarelo {
  background-color: yellow !important;
}
table tr td.verde {
  background-color: green !important;
}

#controle{
  background-color: gray;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}



.box{
  display: flex;
  flex-direction: column;
  padding: 1%;
}